<div class="userCard flex justify-between px-5 pl-6 items-center">
     <div class="userCard__img">
          <img src="../../../../assets/user.png" alt="">
     </div>

     <div class="userCard__info flex font-sans justify-between border-b-2 py-4 pl-3">
          <div class="info__personal--info">
               <h2 class="font-bold text-gray-500 text-lg">Daniel Kalio</h2>
               <p class="text-gray-500">Oboy dash me 2k na Oboy dash me 2k na...</p>
          </div>

          <div class="info__time">
               <p class="text-gray-600 font-semibold pl-2">2:24 pm</p>
          </div>
     </div>
</div>