<div class="search border-b-2 flex items-center px-8 pt-6 pb-3 justify-between">

     <div class="search--name w-11/12 pr-2 relative">
          <img class="absolute top-2 left-5" src="../../../assets/search.svg" alt="">
          <input 
               type="text" 
               placeholder="Search or start new chat"
               class="py-2 rounded-lg px-5 pl-16 outline-0 w-full max-w-md" 
          />
     </div>

     <!-- <span class="vector"> -->
          <img src="../../../assets/Vector.svg" alt="">
     <!-- </span> -->
</div>