<div class="menu flex justify-between items-center px-6 py-2">

     <div class="menu__img">
          <img src="../../../assets/dp.png" alt="">
     </div>

     <div class="menu__items flex gap-9">
          <span class="menu__items--icon">
               <img src="../../../assets/people.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/status.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/chat.svg" alt="">
          </span>
          <span class="menu__items--icon">
               <img src="../../../assets/menu-vertical.svg" alt="">
          </span>
     </div>
     
</div>